---
import SunRay from "../components/SunRay.astro";
---

<div
  class="toggle-theme absolute top-4 right-4 flex items-center justify-center w-10 h-10 cursor-pointer"
>
  <span
    class="moon absolute origin-right rounded-full top-0 right-0 w-7 h-7 z-10"
  ></span>
  <span class="sun w-10 h-10 rounded-full"></span>
  <SunRay />
  <SunRay />
  <SunRay />
  <SunRay />
  <SunRay />
  <SunRay />
</div>

<script>
  import { togglePreference } from "../../lib/theme-util";

  const darkMode = document.querySelector(".toggle-theme");

  function darkify() {
    document.documentElement.classList.toggle("theme-night");
    togglePreference();
  }

  darkMode.addEventListener("click", darkify);
</script>
<style is:global lang="scss">
  :root {
    --color-primary: #ffffff;
    --color-secondary: #eec413;

    &.theme-night {
      --color-primary: #0a0f1b;
      --color-secondary: #ffffff;
    }
  }

  body {
    background: var(--color-primary);
  }

  .toggle-theme {
    transform: translate(50%, -50%);

    .sun {
      background: var(--color-secondary);
      border: 4px solid var(--color-primary);
    }

    .sun-ray {
      background: var(--color-secondary);
      height: 120%;
      transition: 0.4s all, height 0.3s ease-in-out;

      $columns: 12;
      @for $i from 1 through $columns {
        &:nth-child(#{$i}) {
          transform: rotate(calc(#{$i} * calc(360deg / #{$columns})));
        }
      }
    }

    &:hover {
      .sun-ray {
        $columns: 12;

        @for $i from 1 through $columns {
          &:nth-child(#{$i}) {
            transform: rotate(
              calc(calc(#{$i} * calc(360deg / #{$columns})) - 20deg)
            );
          }
        }
      }
    }

    .moon {
      background: var(--color-primary);
      transform: scale(0) translate(25%, -25%);
      transition: 0.4s transform;
    }
  }

  .theme-night {
    .toggle-theme {
      background-color: var(--color-primary);

      .sun-ray {
        height: 0;
        transition: 0.4s, transform 0.4s, height 0.2s 0.1s;

        $columns: 12;
        @for $i from 1 through $columns {
          &:nth-child(#{$i}) {
            transform: rotate(
              calc(calc(#{$i} * calc(360deg / #{$columns})) - 45deg)
            );
          }
        }
      }
    }

    .toggle-theme:hover {
      .moon {
        transform: scale(1) translate(-3%, -18%);
      }
    }

    .moon {
      transform: scale(1) translate(11%, -11%);
    }
  }
</style>
